<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - Ihws</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/normalize.css">
	<link rel="stylesheet" href="../static/ihws.css">
	<link rel="icon" type="image/png" href="../static/images/assets/favicon.png">
	<script src='../static/jquery-3.5.1.min.js'></script>
	<script src='../static/ihws.js'></script>
	<script>
		var access_token = '{{ session["access_token"] }}';
	</script>
</head>
<body>
	<div style='width: 960px; margin: auto;'>
	<nav class='navigation-bar'>
		<a class='navigation-item' href='/'>
			<img class='navigation-icon' src='../static/images/assets/home.png'>
			Home
		</a>
		<a class='navigation-item' href='/images'>
			<img class='navigation-icon' src='../static/images/assets/gallery.png'>
			Images
		</a>
		<a class='navigation-item'>
			<img class='navigation-icon' src='../static/images/assets/search.png'>
			Search
		</a>
		{% if not session['access_token'] %}
		<a class='navigation-item' href='/signup' style='float: right'>Sign up</a>
		<a class='navigation-item' href='/signin' style='float: right'>Sign in</a>
		{% else %}
		<a class='navigation-item' href='/upload'>
			<img class='navigation-icon' src='../static/images/assets/upload.png'>
			Upload
		</a>
		<div class='menu' style='float: right'>
			<img class='navigation-icon' src='../static/images/assets/menu.png'>
			<div class='menu-content'>
				<a id='revoke'>Sign out</a></br>
				<a id='myimages'>My images</a></br>
				<a id='profile'>Profile</a>
			</div>
		</div>
		{% endif %}
	</nav>
	</div>
	{% block content %}{% endblock %}
</body>
</html>
