{% extends "base.html"  %}

{% block title %}
{{ name }}
{% endblock %}

{% block content %}
<div class='row' style="margin-top: 5%">
	<div class='six columns'>
		<h4 id='name'>{{ name }}</h4>
	</div>
	<div id='buttons' class='six columns'>
		<input id='delete' class='button' value='Delete' type='button' style='float: right; margin-left: 10px; background-color: #FF4646 !important; width: 30% !important'>
		<input id='edit' class='button' value='Edit' type='button' style='float: right; margin-left: 10px; background-color: #4E8D7C !important; width: 30% !important'>
	</div>
</div>
<div>
	<img class='image' src="../static/images/pictures/{{ filename }}">
</div>
<div style="margin-top: 2%">
	<p id='description'>{{ description }}</p>
</div>
{% endblock %}

