{% extends "base.html"  %}

{% block title %}
{{ name }}
{% endblock %}

{% block content %}
<div style='width: 940px; margin: auto'>
	<div style='display: flex'>
		<p style='font-style: italic'>{{ time }}</p>
	</div>
	<div id='privatebutton' style='display: flex; align-items: center'>
		<img src='../static/images/assets/{{ avatar_image }}' style='height: 32px; width: 32px; border-radius: 50%'>
		<p style='text-align: middle; margin: 0 10px;'>{{ author }}</p>
	</div>
	<div style='display: flex; align-items: center'>
		<div style='flex: 50%'>
			<h1 id='name' class='edit'>{{ name }}</h1>
		</div>
		<div id='buttons' style='vertical-align: middle'>
			<input id='edit' value='Edit' type='button'>
			<input id='delete' value='Delete' type='button'>
		</div>
	</div>
</div>
<div style='width: 960px; margin: auto'>
	<div style='background-color: #EBEBEB'>
		<img src="../static/images/images/{{ filename }}" style='height: 540px; width: auto; margin: auto; display: block;'>
	</div>
</div>
<div style='width: 940px; margin: auto'>
	<div>
		<p id='description' class='edit'>{{ description }}</p>
	</div>	
	<div id='tags' style='display: flex; margin-top: 10px'>
		{% for a in tags %}
		<p class='tag'>{{ a }}</p>
		{% endfor %}
	</div>
	<div style='margin-top: 10px'>
		<label>Comment:</label></br>
		<textarea id='comment'></textarea></br>
		<input type='submit' value='Post' style='margin-top: 10px'>
	</div>
</div>
{% endblock %}

