
{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div style='width: 500px; margin: auto;'>
	<section class='header'>
	    <h1 style='text-align: center; margin-top: 5%;'>Profile</h1>
	</section>
	<div id='avatar' class='avatar-change' style='position: relative;'>
		<img src='../static/images/assets/{{ avatar_image }}' style='position: relative; height: 150px; margin: auto;'>
		<img class='change' src='../static/images/assets/change.png' style='position: relative; height: 32px; margin: auto;'>
	</div>
	<div style='display: flex; margin: auto;'>
		<div style='flex: 50%'>
			<p>Username:</p>
			<p id='username'>{{ username }}</p>
		</div>
		<div>
			<p>Email:</p>
			<p id='email'>{{ email }}</p>
		</div>
	</div>
	<div style='margin-top: 10px;'>
		<input type='button' value='Change password'>
	</div>
	<div style='margin-top: 10px;'>
		<div id='buttons'>
			<input id='delete' value='Delete' type='button'>
			<input id='edit' value='Edit' type='button'>
		</div>
	</div>
</div>
{% endblock %}
