
{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div style='width: 600px; margin: auto;'>
<section class='header'>
    <h4 class='title' style='text-align: center; margin-top: 5%;'>Profile</h4>
</section>
<div>
	<img src='../static/images/assets/{{ avatar_image }}' style='display: block; height: 150px; margin: auto;'>
<div class='row' style='margin-top: 30px;'>
	<div class='one-half column'>
		<p style='display: inline;'>Username:</p>
		<p id='username' style='display: inline;'>{{ username }}</p>
	</div>
	<div class='one-half column'>
		<p style='display: inline;'>Email:</p>
		<p id='email' style='display: inline;'>{{ email }}</p>
	</div>
</div>
<div class='row' style='margin-top: 10px;'>
	<input class='button' value='Change password'>
</div>
<div class='row' style='margin-top: 10px;'>
	<div id='buttons'>
		<input id='delete' class='button' value='Delete' type='button'>
		<input id='edit' class='button' value='Edit' type='button'>
	</div>
</div>
</div>
{% endblock %}
