
{% extends 'base.html' %}

{% block title %}
Sign in
{% endblock %}

{% block content %}
<div style='width: 940px; margin: auto;'>
<section class='header'>
    <h4 class='title' style='text-align: center; margin-top: 5%;'>Sign in</h4>
</section>
<form id='signin'>
	<div class='row'>
		<div class='one-half column'>
			<label>Email</label>
			<input name='email' class='u-full-width' type='email'>	
		</div>
		<div class='one-half column'>
			<label>Password</label>
			<input name='password' class='u-full-width' type='password'>
		</div>
	</div>
	<input class='button-primary' value='Sign in' type='submit'>
</form>
</div>
{% endblock %}
