
{% extends 'base.html' %}

{% block title %}
Sign up
{% endblock %}

{% block content %}
<section class='header'>
    <h4 class='title' style='text-align: center; margin-top: 5%;'>Sign up</h4>
</section>
<form id='signup'> 
	<div class='row'>
		<div class='one-half column'>
			<label>Username</label>
			<input name='username' class='u-full-width' type='text'>	
		</div>
		<div class='one-half column'>
			<label>Password</label>
			<input name='password' class='u-full-width' type='password'>
		</div>
	</div>
	<div class'eight columns'>
		<label>Email</label>
		<input name='email' class='u-full-width' type='email'>
	</div>
	<input class='button-primary' type='submit' value='Sign up'>
</form>
{% endblock %}
