
{% extends 'base.html' %}

{% block title %}
Sign up
{% endblock %}

{% block content %}
<div style='width: 500px; margin: auto;'>
<section class='header'>
    <h1 style='text-align: center; margin-top: 50px'>Sign up</h1>
</section>
<form id='signup'> 
	<div style='display: flex; margin: auto'>
		<div style='flex: 50%'>
			<label>Username</label></br>
			<input name='username' type='text'>	
		</div>
		<div>
			<label>Password</label></br>
			<input name='password' type='password'>
		</div>
	</div>
	<div style='margin-top: 20px;'>
		<label>Email</label></br>
		<input name='email' type='email'>
	</div>
	<input type='submit' value='Sign up' style='margin-top: 20px;'>
</form>
</div>
{% endblock %}
