
{% extends 'base.html' %}

{% block title %}
Upload
{% endblock %}

{% block content %}
<section class='header'>
    <h4 class='title' style='text-align: center; margin-top: 5%;'>Upload an image</h4>
</section>
<form id='upload'>
    <label>Select a file:</label>
    <input id='file' class='u-full-width' type='file'>
    <label>Name</label>
    <div class='row'>
	    <input name='name' class='six columns' type='text'>
    </div>
    <label>Description</label>
	<textarea id='description' class='u-full-width' type='text'></textarea>
    <input class='button-primary' type='submit' value='upload'>
</form>
{% endblock %}
