
{% extends 'base.html' %}

{% block title %}
Upload
{% endblock %}

{% block content %}
<div style='width: 500px; margin: auto;'>
<section class='header'>
    <h1 style='text-align: center; margin-top: 50px'>Upload an image</h1>
</section>
<form id='profile'>
	<div>
		<label>Select a file:</label></br>
		<input id='file' type='file'>
	</div>
	<div style='margin-top: 10px'>
		<label>Name</label></br>
		<input name='name' type='text'>
	</div>
	<div style='margin-top: 10px'>
		<label>Description</label></br>
		<textarea id='description' type='text'></textarea>
	</div>
	<div style='margin-top: 10px'>
		<label>Tags</label></br>
		<div id='tags' style='display: flex; margin-top: 10px'>
			<p class='tag' contenteditable='true'>Tag</p>
		</div>
		<img id='add-tag' src='../static/images/assets/plus.png' style='height: 32px; cursor: pointer'>
	</div>
	<div style='margin-top: 10px'>
		<input id='private' type='checkbox'>
		<label>Private</label>
	</div>
	<input style='margin-top: 10px' type='submit' value='Upload'>
</form>
</div>
{% endblock %}
